#details
{
    background-color:#36454f;
}

.detailpage
{
    padding-top:5em;
    padding-bottom: 5em;
}

.ui.header.Detail-head
{
    font-family: 'Electrolize', sans-serif;
    color:#e54f2f;
    font-size:5rem;
    text-align: center;
}
.ui.header.details-text
{
    font-family: 'Electrolize', sans-serif;
    color:goldenrod;
    font-size:2em;
    margin-top: 3em;
}
.map-contain
{
    margin-top: 3em;
    margin-left:1em;
}